---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Boost Your Deployment Efficiency
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Unlock the power of integration with Digital Sierra's cutting-edge DevOps solutions. Our expert team seamlessly connects diverse tools,
services, and data sources, delivering lightning-fast performance and unparalleled flexibility to fuel your digital transformation
journey.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Get Started</Link>
  </div>
</div>
