---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
{
    title: "Transform Your Workflow",
    description:
      "Partner with our DevOps agency to bring your own pipeline, leveraging tools like Jenkins, GitLab CI/CD, CircleCI, TravisCI, or
command-line tools.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Continuous Integration as a Service",
    description:
      "Outsource continuous integration to us and get rid of manual testing hassles. Our team ensures 100% automated testing for seamless
delivery.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "On-Demand Deployments Enabled",
    description:
      "Streamline your deployment process with our DevOps experts. We'll automate deployments when it's time, ensuring minimal downtime and
maximum efficiency",
    icon: "bx:bxs-data",
  },
  {
    title: "Broad Tooling Expertise",
    description:
      "Our agency supports a wide range of DevOps tools, including Docker, Kubernetes, Ansible, Terraform, CloudFormation, and more. We're
equipped to handle your unique toolset.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Security as a Service",
    description:
      "Get peace of mind with our security services, which include automatic security scans, vulnerability assessments, and compliance reports.
Our team ensures your infrastructure is secure and compliant.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "DevOps Community Powered",
    description:
      "DevOps Community Powered",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to for DevOps
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Digital Sierra provides a comprehensive suite of tools and services tailored for DevOps and software startups. 
It combines the best practices of state-of-the-art tools
with its own innovative solutions to empower your team and streamline your development process.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
