---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
 
 {
    title: "CI/CD Automation",
    description:
      "Automate your build, test, and deployment processes to increase efficiency and reduce errors.",
    icon: "bx:bxs-buildings",
  },
  {
    title: "Infrastructure as Code (IaC)",
    description:
      "Manage your infrastructure using code to achieve consistency, scalability, and reliability.",
    icon: "bx:bxs-server",
  },
  {
    title: "Monitoring and Alerting",
    description:
      "Monitor your applications and infrastructure in real-time, and receive alerts for potential issues.",
    icon: "bx:bxs-heart",
  },
  {
    title: "Security and Compliance",
    description:
      "Implement best practices for security and compliance to protect your data and meet regulatory requirements.",
    icon: "bx:bxs-shield",
  },
  {
    title: "Scalability and Performance",
    description:
      "Ensure your applications can handle increased workload and maintain optimal performance.",
    icon: "bx:bxs-network-chart",
  },
  {
    title: "Collaborative Development",
    description:
      "Facilitate collaboration among team members and streamline the development process.",
    icon: "bx:bxs-people",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to for DevOps
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Digital Sierra provides a comprehensive suite of tools and services tailored for DevOps and software startups. 
It combines the best practices of state-of-the-art tools
with its own innovative solutions to empower your team and streamline your development process.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
