---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:docker" />
    <Icon class="h-8 md:h-12" name="simple-icons:amazonaws" />
    <Icon class="h-8 md:h-12" name="simple-icons:microsoftazure" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:googlecloud" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:openstack" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:redhatopenshift" /> 
    <Icon class="h-8 md:h-14" name="simple-icons:kubernetes" />
    <Icon class="h-8 md:h-16" name="simple-icons:go" />
    <Icon class="h-8 md:h-12" name="simple-icons:python" />
    <Icon class="h-8 md:h-12" name="simple-icons:githubactions" />
    <Icon class="h-8 md:h-12" name="simple-icons:jenkins" />
    <Icon class="h-8 md:h-12" name="simple-icons:istio" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:travisci" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:newrelic" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:terraform" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:circleci" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:prometheus" /> 
    <Icon class="h-8 md:h-12" name="simple-icons:grafana" /> 
   
  </div>
</div>
